<a href="https://colab.research.google.com/github/asil07/Data/blob/master/Highest_paying_careers_with_bachelors_degree(2021).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
from pprint import pprint
job_web_link = "https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors"
response = requests.get(job_web_link)
soup = BeautifulSoup(response.text, "html.parser")
records = []

rows = soup.select("table.data-table tbody tr")

for row in rows:
    cells = row.select("span.data-table__value")
    record = {
        "Undergraduate Major": cells[1].getText(),
        "Starting Median Salary": float(cells[3].getText().strip("$").replace(",", "")),
        "Mid-Career Median Salary": float(cells[4].getText().strip("$").replace(",", "")),
    }
    records.append(record)
pprint(records)
pd.DataFrame(records).to_csv("salaraies_by_major.csv", index=False)

Höööp soup bilan tanlangan har bir object ni içidan yana object tanlasa ham bölar ekan mısol cells = row.select("span.data-table__value")

In [64]:
df = pd.read_csv("salaraies_by_major.csv")
df.head()

                                Undergraduate Major  ...  Mid-Career Median Salary
0                             Petroleum Engineering  ...                  182000.0
1  Electrical Engineering & Computer Science (EECS)  ...                  152300.0
2                  Applied Economics and Management  ...                  139600.0
3                               Operations Research  ...                  139600.0
4                                 Public Accounting  ...                  138800.0

[5 rows x 3 columns]

In [80]:
print(f'Highest starting salary by major:\n\n{df.loc[df["Starting Median Salary"].idxmax()]}')

Highest starting salary by major:

Undergraduate Major         Electrical Engineering & Computer Science (EECS)
Starting Median Salary                                                101200
Mid-Career Median Salary                                              152300
Name: 1, dtype: object

In [84]:
print(f'Lowest Starting salary by major:\n\n{df.loc[df["Starting Median Salary"].idxmin]}')

Lowest Starting salary by major:

Undergraduate Major         Aerospace Studies
Starting Median Salary                  50300
Mid-Career Median Salary               130300
Name: 12, dtype: object

In [ ]:
s